.messages {
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;

  .messageItem {
    padding: 10px;
    border: 1px solid #bababa;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    width: max-content;
    gap: 40px;

    .leftSection {
      display: flex;
      gap: 7px;

      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }

    .dateContainer {
      display: flex;
      gap: 40px;
    }
  }

  .owner {
    align-self: flex-end;
  }

  @media (max-width: 370px) {
    .messageItem {
      min-width: unset;
      width: auto;
      gap: 5px;
    }
  }
}
