.messages {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;

  .messageItem {
    padding: 10px;
    border: 1px solid #bababa;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    min-width: 80px;
    gap: 40px;

    .leftSection {
      display: flex;
      gap: 7px;

      .text {
        word-break: break-word;
      }

      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }

    .dateContainer {
      display: flex;
      gap: 10px;

      .text {
        word-break: break-word;
      }
    }
    .ownerDate {
      justify-content: flex-end;
      width: 100%;
    }
  }

  .owner {
    align-self: flex-end;
  }

  @media (max-width: 370px) {
    .messageItem {
      min-width: unset;
      width: auto;
      gap: 5px;
    }
  }
}
