.sendContainer {
  display: flex;
  background: #cac6c6;
  gap: 5px;
  width: 100%;
  padding: 6px;
  position: fixed;
  bottom: 0;

  textarea {
    background: #ffffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
    margin: 0;
    resize: none;
    outline: none;
    height: max-content;
    overflow: hidden;
    height: 36px;
  }

  button {
    width: 120px;
    align-self: center;
  }
}
